{% extends 'layout.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <h1>Password Change</h1>
    <p>Please enter your old password for security's sake and then enter your new password twice so we can verify you typed in correctly.</p>

    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="password1" class="col-md-2 control-label">New Password</label>
            <div class="col-md-10">
                {{form.password1 | form_class:"form-control"}}
            </div>
        </div>
        <div class="form-group">
            <label for="password2" class="col-md-2 control-label">New Password Confirmation</label>
            <div class="col-md-10">
                {{form.password2 } form_class:"form-control"}}
               <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </form>

{% endblock content %}