{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <h2>About Census Analytics</h2>
    <h3>Who for?</h3>

    <p>Census Analytics was created as a free tool for auditors to use to gain greater insight to their client census data. This tool allows auditors to 
    automate the census error detection and selection process.</p>

    <h3>How?</h3>
    <p>
    Simply create a free account and you will have the full power of Census Analytics at your fingertips. Once, you have signed up for an account you can
    create client profiles that only you will be able to access. From there, simply upload your clients census data and utlize the power of Census Analytics.
    </p>

    <h3>Why Census Analytics?</h3>
    <p>
    Census Analytics allows CPA firms that do not have the budget to buy fancy expensive audit software to still use modern technology to serve their clients better. Gaining greater
    insight to your clients census data will only help you address risk and perfrom a more effecient audit.
    </p>
</div>

{% endblock %}
