<th style="width:25%">First Name</th>
<th style="width:50%">Last Name</th>
<th style="width:50%">Social Security #</th>
<th style="width:50%">DOB</th>
<th style="width:50%">DOH</th>
<th style="width:50%">DOT</th>
<th style="width:50%">DORH</th>
<th style="width:50%">Excluded</th>
<th style="width:50%">Gross Wages</th>
<th style="width:50%">Eligible Wages</th>
<th style="width:50%">Hours Worked</th>
<th style="width:50%">Employee Pre Tax Deferral</th>
<th style="width:50%">Employee Roth Deferral</th>
<th style="width:50%">Employee Catch-up</th>
<th style="width:50%">Total Employee Deferral</th>
<th style="width:50%">Employer Pre Tax Deferral</th>
<th style="width:50%">Employer Roth Deferral</th>
<th style="width:50%">Employer Catch-up</th>
<th style="width:50%">Total Employer Deferral</th>
<th style="width:50%">Effective Deferral</th>
<th style="width:50%">Selection</th>
<th style="width:50%">Key Employee</th>
<th style="width:50%">Eligible</th>
<th style="width:50%">Participating</th>

                 