{% block content %}
{% load crispy_forms_tags %}


    <div class="modal-header">
        <h5 class="modal-title">Census Statistics</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Employees in Census: </strong>{{number_of_employees}}</li>
            <li class="list-group-item"><strong>Contributing Employees: </strong>{{contributing_employees}}</li>
            <li class="list-group-item"><strong>Non-Contributing Employees: </strong>{{non_contributing_employees}}</li>
            <li class="list-group-item"><strong>Eligible Employees: </strong>{{eligible}}</li>
            <li class="list-group-item"><strong>Ineligible Employees:</strong> {{ineligible}}</li>
            <li class="list-group-item"><strong>Average Gross Wages: </strong>${{average_gross_wages.gross_wages__avg| floatformat:2}}</li>
            <li class="list-group-item"><strong>Gross Wages Standard Deviation: </strong>${{standard_dev_wages.gross_wages__stddev | floatformat:2}}</li>
            <li class="list-group-item"><strong>Top Earning Employee: </strong>{{top_earner}} - ${{top_earner.gross_wages| floatformat:2}}</li>
            <li class="list-group-item"><strong>Lowest Earning Employee: </strong>{{lowest_earner}} - ${{lowest_earner.gross_wages| floatformat:2}}</li>
            <li class="list-group-item"><strong># of Employees Terminated: </strong>{{employees_terminated}}</li>
            <li class="list-group-item"><strong># of Key Employees: </strong>{{key_employees}}</li>
            <li class="list-group-item"><strong># of Selections: </strong>{{number_of_selections}}</li>
            <li class="list-group-item"><strong># of Contributing Selections: </strong>{{number_of_cont_selections}}</li>
            <li class="list-group-item"><strong># of Non-Contributing Selections: </strong>{{number_of_non_cont_selections}}</li>
            {% if number_of_errors > 0 %}
                <li style="background-color:#F08080" class="list-group-item"><strong># of Errors in Cenus: </strong>{{number_of_errors}}</li>
            {% endif %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


    </div>




{% endblock content %}




