{% load l10n %}
{% load humanize %}
{% load errors_extra %}

{% for participant in participants %}
    {% if participant.error_set.all|length > 0 %}
        <tr style="background-color:#ffff80">
            {% if participant.error_set.all|find:"First name data is missing" == True or participant.error_set.all|find:"First name data does not match previous year census" == True %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="auto" title="First name data does not match previous year census">
            {% else %}
                <td style="background-color:#ffff80">
            {% endif %}
                {{participant.first_name}}
                </td>
    
    
            {% if participant.error_set.all|find:"Last name data is missing" == True or participant.error_set.all|find:"Last name data does not match previous year census" == True %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="auto" title="Last name data does not match previous year census">
            {% else %}
                <td style="background-color:#ffff80"> 
            {% endif %}
                {{participant.last_name}}
                </td>
 
            <td style="background-color:#ffff80">
                {{participant.SSN}}
            </td>


            {% if participant.error_set.all|find:"DOB data is missing" or participant.error_set.all|find:"DOB data does not match previous year census" %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="top" title="DOB data does not match previous year census">
            {% else %}
                <td style="background-color:#ffff80">
            {% endif %}
                {{participant.DOB}}
            </td>

            {% if participant.error_set.all|find:"DOH data is missing" or participant.error_set.all|find:"DOH data does not match previous year census" %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="top" title="DOH data does not match previous year census">
            {% else %}
                <td style="background-color:#ffff80">
            {% endif %}
                {{participant.DOH}}
                </td>

            {% if participant.error_set.all|find:"DOT is before engagement year" or participant.error_set.all|find:"DOT data does not match previous year census" %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="top" title="DOT data does not match previous year census">
            {% else %}
                <td style="background-color:#ffff80">
            {% endif %}
                {{participant.DOT}}
                </td>

            {% if participant.error_set.all|find:"DORH data does not match previous year census" %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="top" title="DORH data does not match previous year census">
            {% else %}
                <td style="background-color:#ffff80">
            {% endif %}
                {{participant.DORH}}
                </td>

    
            {% if participant.error_set.all|find:"Employee is excluded but is participating" %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="top" title="Employee is excluded but is participating">
            {% else %}
                <td style="text-align:center;background-color:#ffff80""> 
            {% endif %}
            {% if participant.excluded %}
                <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
            {% else %}
                <i class="fa fa-times" aria-hidden="true" style="color:red"></i>
            {% endif %}
                </td>
    

            <td style="background-color:#ffff80">
            {% if participant.gross_wages == 0 %}
                -
            {% else %}
                {{participant.gross_wages}}
            {% endif %}
            </td>

            {% if participant.error_set.all|find:"Eligible wages are greater than IRS limit" %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="top" title="Eligible wages are greater than IRS limit">
            {% else %}
                <td style="background-color:#ffff80">
            {% endif %}
            {% if participant.eligible_wages == 0 %}
                -
            {% else %}
                {{participant.eligible_wages}}
            {% endif %}
            </td>


            <td style="background-color:#ffff80">
                {% if participant.hours_worked == 0 %}
                    -
                {% else %}
                    {{participant.hours_worked}}
                {% endif %}
            </td>


            <td style="background-color:#ffff80">
                {{participant.EE_pre_tax_amount}}
            </td>

            <td style="background-color:#ffff80">
                {{participant.EE_roth_amount}}
            </td>

            {% if participant.error_set.all|find:"Catch-up contributions are greater than IRS limit" or participant.error_set.all|find:"Employee is not eligible for catch-up contributions" %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="top" title="Employee is not eligible for catch-up contributions">
            {% else %}
                <td style="text-align:center;background-color:#ffff80">
            {% endif %}
            {% if participant.EE_catch_up == 0 %}
            -
            {% else %}
                {{participant.EE_catch_up}}
            {% endif %}
            </td>

            {% if participant.error_set.all|find:"Employee contributions are greater than IRS limit" %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="top" title="Employee contributions are greater than IRS limit">
            {% else %}
                <td style="text-align:center; background-color:#ffff80">
            {% endif %}
            {% if participant.total_EE_deferral == 0 %}
                -
            {% else %}
                {{participant.total_EE_deferral}}
            {% endif %}
                </td>



            <td style="background-color:#ffff80">
                {{participant.ER_pre_tax_amount}}
            </td>


            <td style="background-color:#ffff80">
                {{participant.ER_roth_amount}}
            </td>

            {% if  participant.error_set.all|find:"Employee is not eligible for catch-up contributions" %}
                <td style="background-color:#F08080" data-toggle="tooltip" data-placement="top" title="Employee is not eligible for catch-up contributions">
            {% else %}
                <td style="text-align:center; background-color:#ffff80">
            {% endif %}
            {% if participant.ER_catch_up == 0 %}
                -
            {% else %}
                {{participant.ER_catch_up}}
            {% endif %}
                </td>

            <td style="background-color:#ffff80"> 
                {{participant.total_ER_deferral}}
            </td>
    
            <td style="background-color:#ffff80">
                {{participant.effective_deferral_percentage | floatformat:2}} % 
            </td>

            <td style="text-align:center; background-color:#ffff80">
            {% if participant.selection %}
                <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
            {% else %}
                <i class="fa fa-times" aria-hidden="true" style="color:red"></i>
            {% endif %}
            </td>

            <td style="text-align:center; background-color:#ffff80">
   
                {% if participant.key_employee %}
                    <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
                {% else %}
                    <i class="fa fa-times" aria-hidden="true" style="color:red"></i>
                {% endif %}
            </td>


 
            <td style="text-align:center; background-color:#ffff80">
                {% if participant.eligible %}
                    <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
                {% else %}
                    <i class="fa fa-times" aria-hidden="true" style="color:red"></i>
                {% endif %}
                </td>
            
            {% if participant.error_set.all|find:"Employee is ineligible and is participating" %}
                {% if participant.participating %}
                    <td style="text-align:center; background-color:#F08080" data-toggle="tooltip" data-placement="top" title="Employee is ineligible and is participating">
                        <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
                    </td>
                {% else %}
                    <td style="text-align:center; background-color:#F08080" data-toggle="tooltip" data-placement="top" title="{{error.error_message}}"></td>
                        <i class="fa fa-times" aria-hidden="true" style="color:red"></i>
                    </td>
                {% endif %}
            {% else %}
                {% if participant.participating %}
                <td style="text-align:center; background-color: #ffff80;">
                    <i class="fa fa-check" aria-hidden="true" style="color:green"></i>
                </td>
                {% else %}
                <td style="text-align:center; background-color: #ffff80;">
                    <i class="fa fa-times" aria-hidden="true" style="color:red"></i>
                </td>
                {% endif %}
            {% endif %}
    {% else %}
        {% include 'census_list_no_errors.html' %}
    {% endif %}
</tr>
{% endfor %}