<ul class="list-group list-group-flush">
  <li class="list-group-item">Age: {{eligibility_rules.age}}</li>
  <li class="list-group-item">Service Hours: {{eligibility_rules.service_hours}}</li>
  <li class="list-group-item">Service Days: {{eligibility_rules.service_days}}</li>
  <li class="list-group-item">Service Months: {{eligibility_rules.service_months}}</li>
  <li class="list-group-item">Service Years: {{eligibility_rules.service_years}}</li>
  <li class="list-group-item">Excluded Employees: {{eligibility_rules.excluded_employees}}</li>
  <li class="list-group-item">Entry Date: {{eligibility_rules.entry_date}}</li>
</ul>