{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="body-content">
    <div class="row">
        <div class="col">
            <style>
                h2, h3 {display:inline;}
            </style>
            <h2>{{client.name}} - </h2><h3>{{engagement.name}}</h3>
        </div>
    </div>
    <div class="row">
        <h4>Year End: {{engagement.date}}</h4>
    </div>

    <div style="padding-top: 20px; padding-bottom:10px;" class="row justify-content-center">
        <div class="btn-group dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Engagement Profile
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a class="dropdown-item show-edit_engagement_form" data-url="{% url 'edit_engagement' client.slug engagement.slug %}" role="menuitem" tabindex="-1">Edit Profile</a></li>
                <li role="presentation"><a class="dropdown-item show-view_engagement_profile" data-url="{% url 'view_profile' client.slug engagement.slug %}" role="menuitem" tabindex="-1">View Profile</a></li>
                <li role="presentation"><a class="dropdown-item show-add_contact_form" data-url="{% url 'add_contact' client.slug engagement.slug %}" role="menuitem" tabindex="-1">Add Contact</a></li>
                <li role="presentation"><a class="dropdown-item show-delete_contact_form" data-url="{% url 'delete_contact' client.slug engagement.slug %}" role="menuitem" tabindex="-1">Delete Contact</a></li>
            </ul>
        </div>
        <div class="btn-group dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Eligibility
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a class="dropdown-item show-form" data-url="{% url 'edit_eligibility' client.slug engagement.slug %}" role="menuitem" tabindex="-1">Edit Eligibility</a></li>
                <li role="presentation"><a data-toggle="modal" data-target="#fm-modal-grid" role="menuitem" tabindex="-1">View Eligibility</a></li>
            </ul>
        </div>
        <div class="btn-group dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Census
                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a class="dropdown-item upload-census_form" data-url="{% url 'upload_census' client.slug engagement.slug %}" role="menuitem" tabindex="-1">Upload Census</a></li>
                <li role="presentation"><a class="dropdown-item show-key_employee-form" data-toggle="modal" data-url="{% url 'key_employees' client.slug engagement.slug %}" role="menuitem" tabindex="-1">Select Key Employees</a></li>
                <li role="presentation"><a class="dropdown-item show-census_statistics-form" data-toggle="modal" data-url="{% url 'census_statistics' client.slug engagement.slug %}" role="menuitem" tabindex="-1">Census Statistics</a></li>
                <li role="presentation"><a class="dropdown-item show-view_errors" data-toggle="modal" data-url="{% url 'view_errors' client.slug engagement.slug %}" role="menuitem" tabindex="-1">View Errors</a></li>                         
            </ul>
        </div>                
        <div class="btn-group dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Selections
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a class="dropdown-item show-selections_form" data-url="{% url 'make_selections' client.slug engagement.slug %}" role="menuitem" tabindex="-1">Make Selections</a></li>
                <li role="presentation"><a class="dropdown-item show-edit_selections_form" data-url="{% url 'edit_selections' client.slug engagement.slug %}" role="menuitem" tabindex="-1">Edit Selections</a></li>
                <li role="presentation"><a class="dropdown-item view-selections_form" data-toggle="modal" data-url="{% url 'view_selections' client.slug engagement.slug %}" role="menuitem" tabindex="-1">View Selections</a></li>
                <li role="presentation"><a class="dropdown-item show-py_selections" data-toggle="modal" data-url="{% url 'py_selections' client.slug engagement.slug %}" role="menuitem" tabindex="-1">View Previous Year Selections</a></li>
            </ul>
        </div> 
        <button class="btn btn-danger float-right" data-toggle="modal" data-target="#fm-modal-grid-2">Delete Engagement</button>
    </div>
    <div class="row">
                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="census_table">
                    <thead>
                        <th style="width:25%">First Name</th>
                        <th style="width:50%">Last Name</th>
                        <th style="width:50%">Social Security #</th>
                        <th style="width:50%">DOB</th>
                        <th style="width:50%">DOH</th>
                        <th style="width:50%">DOT</th>
                        <th style="width:50%">DORH</th>
                        <th style="width:50%">Excluded</th>
                        <th style="width:50%">Gross Wages</th>
                        <th style="width:50%">Eligible Wages</th>
                        <th style="width:50%">Hours Worked</th>
                        <th style="width:50%">Employee Pre Tax Deferral</th>
                        <th style="width:50%">Employee Roth Deferral</th>
                        <th style="width:50%">Employee Catch-up</th>
                        <th style="width:50%">Total Employee Deferral</th>
                        <th style="width:50%">Employer Pre Tax Deferral</th>
                        <th style="width:50%">Employer Roth Deferral</th>
                        <th style="width:50%">Employer Catch-up</th>
                        <th style="width:50%">Total Employer Deferral</th>
                        <th style="width:50%">Effective Deferral</th>
                        <th style="width:50%">Selection</th>
                        <th style="width:50%">Key Employee</th>
                        <th style="width:50%">Eligible</th>
                        <th style="width:50%">Participating</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>   
            </div>            


<div class="modal fade" id="modal-eligibility_rules">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-key_employee">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="modal-census_statistics">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-selections">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-edit_selections">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-view_selections">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="modal-py_selections">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="upload_census">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-view_errors">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-edit_engagement">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-view_engagement_profile">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-add_contact_form">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-delete_contact">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="" tabindex="-1"
     role="dialog" aria-labelledBy="fm-modal-grid"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Census Data</h5>
                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{census_form|crispy}}
                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fm-modal-grid" tabindex="-1"
     role="dialog" aria-labelledBy="fm-modal-grid"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eligibility Rules</h5>
                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'eligibility_rules.html' %}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fm-modal-grid-2" tabindex="-1"
     role="dialog" aria-labelledBy="fm-modal-grid-2"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Engagement</h5>
                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{engagement.name}}</p>
            </div>
            <div class="modal-footer">
                <form action ="{% url 'delete_engagement' client.slug engagement.slug %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="ajaxProgress">
    <h3>Loading</h3>
    <img src="{% static 'images/ajax-loader.gif' %}" alt="loading"/>
</div>







{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function(){


            var endpoint="{% url 'participantsAPI' client.slug engagement.slug %}";

            function numberWithCommas(x) {
                            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            };

            function zeroString(x){
                if (x==0){
                    return "-"
                }
                else{
                    return x
                }
            };

            function zeroDollar(x){
                if (x==0){
                    return "-"
                }
                else{
                    return "$" + x
                };
            };

            $('#census_table').DataTable({
                "sDom":"lrtip",
                "bInfo":false,
                "bPaginate":false,
                "processing":true,
                "serverSide":true,
                "paging":false,
                "language":{
                    "decimal":",",
                    "thousands":"."
                },
                "ajax":{
                    "url": endpoint,
                    "dataSrc":'',  
                },
                "deferRender": true,
                "columnDefs":[{
                    'targets':[7,8,9,10,11,12,13,14,15,16,17,16,18,18,20,21,22,23],
                    'className':'align-center'
                    }             
                ],
                "rowCallback":function(row,data){
                    if (data.error_set.length > 0){
                        $('td:eq(0)',row).css('background-color','#ffff80');
                        $('td:eq(1)',row).css('background-color','#ffff80');
                        $('td:eq(2)',row).css('background-color','#ffff80');
                        $('td:eq(3)',row).css('background-color','#ffff80');
                        $('td:eq(4)',row).css('background-color','#ffff80');
                        $('td:eq(5)',row).css('background-color','#ffff80');
                        $('td:eq(6)',row).css('background-color','#ffff80');
                        $('td:eq(7)',row).css('background-color','#ffff80');
                        $('td:eq(8)',row).css('background-color','#ffff80');
                        $('td:eq(9)',row).css('background-color','#ffff80');
                        $('td:eq(10)',row).css('background-color','#ffff80');
                        $('td:eq(11)',row).css('background-color','#ffff80');
                        $('td:eq(12)',row).css('background-color','#ffff80');
                        $('td:eq(13)',row).css('background-color','#ffff80');
                        $('td:eq(14)',row).css('background-color','#ffff80');
                        $('td:eq(15)',row).css('background-color','#ffff80');
                        $('td:eq(16)',row).css('background-color','#ffff80');
                        $('td:eq(17)',row).css('background-color','#ffff80');
                        $('td:eq(18)',row).css('background-color','#ffff80');
                        $('td:eq(19)',row).css('background-color','#ffff80');
                        $('td:eq(20)',row).css('background-color','#ffff80');
                        $('td:eq(21)',row).css('background-color','#ffff80');
                        $('td:eq(22)',row).css('background-color','#ffff80');
                        $('td:eq(23)',row).css('background-color','#ffff80');

                        var error;
                        for (error of data.error_set){
                            if (error == "First name data is missing" || error=="First name data does not match previous year census"){
                                $('td:eq(0)',row).css('background-color','#F08080'); 
                                $('td:eq(0)',row).attr('title',error)
                                $('td:eq(0)',row).attr('data-toggle',"tooltip")
                            }
                            if (error == "Last name data is missing" || error=="Last name data does not match previous year census"){
                                $('td:eq(1)',row).css('background-color','#F08080'); 
                                $('td:eq(1)',row).attr('title',error)
                                $('td:eq(1)',row).attr('data-toggle',"tooltip")
                            }
                            if (error == "Social Security Number data is missing"){
                                $('td:eq(2)',row).css('background-color','#F08080'); 
                                $('td:eq(2)',row).attr('title',error)
                                $('td:eq(2)',row).attr('data-toggle',"tooltip")
                            }
                            if (error == "DOB data is missing"){
                                $('td:eq(3)',row).css('background-color','#F08080'); 
                                $('td:eq(3)',row).attr('title',error)
                                $('td:eq(3)',row).attr('data-toggle',"tooltip")
                            }
                            
                            if (error == "DOH data does not match previous year census" || error=="DOH data is missing"){
                                $('td:eq(4)',row).css('background-color','#F08080'); 
                                $('td:eq(4)',row).attr('title',error)
                                $('td:eq(4)',row).attr('data-toggle',"tooltip")
                            }
                            if (error == "DOT is before engagement year" || error=="DOT data does not match previous year census"){
                                $('td:eq(5)',row).css('background-color','#F08080'); 
                                $('td:eq(5)',row).attr('title',error)
                                $('td:eq(5)',row).attr('data-toggle',"tooltip")
                            }
                            
                            if (error == "DORH data does not match previous year census"){
                                $('td:eq(6)',row).css('background-color','#F08080'); 
                                $('td:eq(6)',row).attr('title',error)
                                $('td:eq(6)',row).attr('data-toggle',"tooltip")
                            }
                            if (error == "Eligible wages are greater than IRS limit"){
                                $('td:eq(9)',row).css('background-color','#F08080'); 
                                $('td:eq(9)',row).attr('title',error)
                                $('td:eq(9)',row).attr('data-toggle',"tooltip")
                            }
                            if (error == "Hours worked data is missing"){
                                $('td:eq(10)',row).css('background-color','#F08080'); 
                                $('td:eq(10)',row).attr('title',error)
                                $('td:eq(10)',row).attr('data-toggle',"tooltip")
                            }
                            /*if (error == "Contribution amount is over IRS limit" || error == ){
                                $('td:eq(14)',row).css('background-color','#F08080'); 
                                $('td:eq(14)',row).attr('title',error)
                                $('td:eq(14)',row).attr('data-toggle',"tooltip")
                            }*/
                            if (error == "Catch-up contribution amount is over IRS limit" || error == "Employee is not eligible for catch-up contributions" ){
                                $('td:eq(13)',row).css('background-color','#F08080'); 
                                $('td:eq(13)',row).attr('title',error)
                                $('td:eq(13)',row).attr('data-toggle',"tooltip")
                            }
                            if (error == "Employee is not eligible for catch-up contributions (No catch-up column)"){
                                $('td:eq(14)',row).css('background-color','#F08080'); 
                                $('td:eq(14)',row).attr('title',error)
                                $('td:eq(14)',row).attr('data-toggle',"tooltip")
                            }
                            if (error == "Employee is ineligible and is participating"){
                                $('td:eq(23)',row).css('background-color','#F08080'); 
                                $('td:eq(23)',row).attr('title',error)
                                $('td:eq(23)',row).attr('data-toggle',"tooltip")
                            }
                            if (error == "Employee contributions are greater than IRS limit"){
                                console.log("Found error")
                                $('td:eq(14)',row).css('background-color','#F08080'); 
                                $('td:eq(14)',row).attr('title',error)
                                $('td:eq(14)',row).attr('data-toggle',"tooltip")      
                            }
                            /*if (error == "Employee is not eligible for catch-up contributions"){
                                console.log("Found Error")
                                $('td:eq(13)',row).css('background-color','#F08080'); 
                                $('td:eq(13)',row).attr('title',error)
                                $('td:eq(13)',row).attr('data-toggle',"tooltip")  
                            }*/
                            if (error == "Employee is excluded but is participating"){
                                $('td:eq(8)',row).css('background-color','#F08080'); 
                                $('td:eq(8)',row).attr('title',error)
                                $('td:eq(8)',row).attr('data-toggle',"tooltip")  
                            }
                            
                        };
                }},

                "columns":[
                    {"data":"first_name",},
                    {"data":"last_name"},
                    {"data":"SSN"},
                    {"data":"DOB"},
                    {"data":"DOH"},
                    {"data":"DOT"},
                    {"data":"DORH"},
                    {"data":"excluded",
                    "render":function(data,type,row){
                        if (data ==true){
                            return '<i class="fa fa-check" aria-hidden="true" style="color:green; text-align:center;">'
                        }
                        else {
                            return '<i class="fa fa-check" aria-hidden="true" style="color:red; text-align:center;">'
                        }
                    
                    }},
                    {"data":"gross_wages",
                    "render":function(data,type,row){
                        value =  zeroDollar(data)
                        if (value != "-") {
                            return numberWithCommas(value)
                        }
                        else {
                            return value
                        }
                    }},
                    {"data":"eligible_wages",
                    "render":function(data,type,row){
                        value=zeroDollar(data)
                        if (value!= "-"){
                            return numberWithCommas(value)
                        }
                        else{
                            return value
                        }
                    }},
                    {"data":"hours_worked",
                    "render":function(data,type,row){
                        value=zeroString(data)
                        if (value != "-"){
                            return numberWithCommas(value)
                        }
                        else{
                            return value
                        }
                    }},
                    {"data":"EE_pre_tax_amount",
                    "render":function(data,type,row){
                        value=zeroDollar(data)
                        if (value != "-"){
                            return "$" + numberWithCommas(data)
                        }
                        else {
                            return value
                        }
                    }},
                    {"data":"EE_roth_amount",
                    "render":function(data,type,row){
                        value=zeroDollar(data)
                        if (value != "-"){
                            return "$" + numberWithCommas(data)
                        }
                        else {
                            return value
                        }
                    }},
                    {"data":"EE_catch_up",
                    "render":function(data,type,row){
                        value=zeroDollar(data)
                        if (value != "-"){
                            return "$" + numberWithCommas(data)
                        }
                        else {
                            return value
                        }
                    }},
                    {"data":function(row,type,val,meta){
                        value = row.EE_pre_tax_amount + row.EE_roth_amount + row.EE_catch_up
                        if (value == 0){
                            return "-";
                        } else {
                            value = value.toFixed(2);
                            return"$" + numberWithCommas(value);
                        }
                    }},
                    {"data":"ER_pre_tax_amount",
                    "render":function(data,type,row){
                        value=zeroDollar(data)
                        if (value != "-"){
                            return "$" + numberWithCommas(data)
                        }
                        else {
                            return value
                        }
                    }},
                    {"data":"ER_roth_amount",
                    "render":function(data,type,row){
                        value=zeroDollar(data)
                        if (value != "-"){
                            return "$" + numberWithCommas(data)
                        }
                        else {
                            return value
                        }
                    }},
                    {"data":"ER_catch_up",
                    "render":function(data,type,row){
                        value=zeroDollar(data)
                        if (value != "-"){
                            return "$" + numberWithCommas(data)
                        }
                        else {
                            return value
                        }
                    }},
                    {"data":function(row,type,val,meta){
                        value=row.ER_pre_tax_amount + row.ER_roth_amount + row.ER_catch_up;
                        if (value == 0){
                            return "-";
                        } else {
                            value=value.toFixed(2);
                            return "$" + numberWithCommas(value);
                        }
                        
                    }},
                    {"data":function(row,type,val,meta){
                        return (((row.EE_pre_tax_amount + row.EE_roth_amount + row.EE_catch_up)/row.gross_wages)*100).toFixed(2) + "%"
                    }},
                    {"data":"selection",
                    "render":function(data,type,row){
                        if (data ==true){
                            return '<i class="fa fa-check" aria-hidden="true" style="color:green;">'
                        }
                        else {
                            return '<i class="fa fa-check" aria-hidden="true" style="color:red;">'
                        }
                    
                    }},
                    {"data":"key_employee",
                    "render":function(data,type,row){
                        if (data ==true){
                            return '<i class="fa fa-check" aria-hidden="true" style="color:green; text-align:center;">'
                        }
                        else {
                            return '<i class="fa fa-check" aria-hidden="true" style="color:red; text-align:center;">'
                        }
                    
                    }},
                    {"data":"eligible",
                    "render":function(data,type,row){
                        if (data ==true){
                            return '<i class="fa fa-check" aria-hidden="true" style="color:green; text-align:center;">'
                        }
                        else {
                            return '<i class="fa fa-check" aria-hidden="true" style="color:red; text-align:center;">'
                        }
                    
                    }},
                    {"data":"participating",
                    "render":function(data,type,row){
                        if (data ==true){
                            return '<i class="fa fa-check" aria-hidden="true" style="color:green; text-align:center;">'
                        }
                        else {
                            return '<i class="fa fa-check" aria-hidden="true" style="color:red; text-align:center;">'
                        }
                    
                    }},
            ],
            "order":[[1,"desc"]],
            });
        })
    </script>
{% endblock scripts %}



