{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<form method="post" data-url="{% url 'upload_census' client.slug engagement.slug %}" action="{% url 'upload_census' client.slug engagement.slug %}" class="census-form" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Upload Census File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        
    <div class="modal-body">
        <div class="form-group" style="padding-top:7px;">
            <div class="col-md-10">
                {{form.filename}}
            </div>
        </div>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <p class="validation-summary-errors">{{error | escape}}</p>
        {% endfor %}
    {% endif %}
        <div class="ajaxProgress" style="position:absolute; top:50%; left:50%; margin-top:-50px; margin-left:-50px; width:100px; height:100px">
            <img src="{% static 'images/load-dribbble.gif' %}" alt="loading" style="width:125px; height:100px;"/>
        </div>
        
    <div class="modal-footer" style="padding-top: 10px;">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="submit-census" class="btn btn-primary" id="census_submit">Upload</button>

    </div>

</form>

{% endblock content %}

<script>
    $(document).ready(function(){
    
        $("#census_submit").click(function(){
            console.log("Working");
            $(".ajaxProgress").show();
        });
    });
</script>


