{% block content %}
{% load crispy_forms_tags %}

<form method="post" data-url="{% url 'upload_census' client.slug engagement.slug %}" action="{% url 'upload_census' client.slug engagement.slug %}" class="census-form" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Upload Census File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        
    <div class="modal-body">
        <div id="progress-bar" style="display:none; background-color:#d4d6d9;">
            <div class="progress-label" style=" position:absolute; left: 34%; top: 24px; font-weight:bold; padding-bottom: 3px;">
                Importing Census Data...
            </div>
        </div>
        <div class="form-group" style="padding-top:7px;">
            <div class="col-md-10">
                {{form.filename}}
            </div>
        </div>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <p class="validation-summary-errors">{{error | escape}}</p>
        {% endfor %}
    {% endif %}
        
    <div class="modal-footer" style="padding-top: 10px;">
        
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        <button type="submit-census" class="btn btn-primary" id="census_submit">Upload</button>

    </div>

</form>

      <style>
         .ui-widget-header {
            background: #98b4dc;
            border: 1px solid #DDDDDD;
            color: #333333;
            font-weight: bold;
         }
      </style>

{% endblock content %}

<script>
    $(document).ready(function(){
        var ShowCensusProgressBar = function(){
            console.log("Progress Bart Should be shwoing")
            var progressbar = $("#progress-bar");
            var progressLabel = $(".progress-label");
            $("#progress-bar").show();
            progressbar.display = "block";
            $("#progress-bar").progressbar({
                value: 20,
                max:100
            });

            function progress() {
               var val = progressbar.progressbar( "value" ) || 0;
               progressbar.progressbar( "value", val + 1 );
               if ( val < 99 ) {
                  setTimeout( progress, 100 );
               }
            }
            setTimeout( progress, 3000 );
        };

            //Show UploadCensus Progress Bar
            $("#census_submit").click(ShowCensusProgressBar);
    });
</script>