{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <h2>About Audit Analytics</h2>
    <h3>Who for?</h3>

    <p>Audit Analytics was created as a free tool for auditors to use to gain greater financial insight for their clients. This tool allows auditors to 
    upload several years of any clients trial balance and then assess key financial analytcis for any given time period.</p>

    <h3>How?</h3>
    <p>
    Simply create a free account and you will have the full power of Audit Analytics at your fingertips. Once, you have signed up for an account you can
    create client profiles that only you will be able to access. From there, simply upload your clients trial balances and determine which key financial ratios
    you would like to highlight and Audit Analytics will handle the rest.
    </p>

    <h3>Why Audit Analytics?</h3>
    <p>
    Audit Analytics allows CPA firms that do not have the budget to buy fancy expensive audit software to still use modern technolofy to serve their clients better. Gaining greater
    insight to your clients financial performance will only help you address risk and perfrom a more effecient audit.
    </p>
</div>

{% endblock %}
