{% extends "layout.html" %}
{% block content %}
<div class="body-content">
    <div class="row">
        <div class="col-sm-9">
            <button class="btn btn-primary show-form" href="#" data-url="{% url 'create_client' %}">Add Client</a></button>

            <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="client_table">
                <thead>
                <th style="width:25%">Client #</th>
                <th style="width:50%">Client Name</th>
                </thead>
                <tbody>
                    {% include 'client_list.html' %}
                </tbody>
            </table>
        </div>
    </div>
</div>
 
<!-- Modal -->
<div class="modal fade" id="modal-new_client">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock content %}

