{% extends "layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="body-content">
    <div class="row">
        <div class="col">
            <style>
                h2, h3 {display:inline;}
            </style>
            <h2>{{client.name}} - </h2><h3>{{engagement.name}}</h3>
        </div>
    </div>
    <div class="row">
        <h4>Year End: {{engagement.date}}</h4>
    </div>

    <div style="padding-top: 20px;" class="row justify-content-center">
        <div class="btn-group dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Eligibility
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a class="dropdown-item show-form" href="#" data-url="{% url 'edit_eligibility' client.slug engagement.slug %}" role="menuitem" tabindex="-1" href="#">Edit Eligibility</a></li>
                <li role="presentation"><a data-toggle="modal" data-target="#fm-modal-grid" role="menuitem" tabindex="-1" href="#">View Eligibility</a></li>
            </ul>
        </div>
        <div class="btn-group dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    Census
                    <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a class="dropdown-item upload-census_form" href="#" data-url="{% url 'upload_census' client.slug engagement.slug %}" role="menuitem" tabindex="-1" href="#">Upload Census</a></li>
                <li role="presentation"><a class="dropdown-item show-key_employee-form" data-toggle="modal" data-url="{% url 'key_employees' client.slug engagement.slug %}" role="menuitem" tabindex="-1" href="#">Select Key Employees</a></li>
                <li role="presentation"><a class="dropdown-item show-census_statistics-form" data-toggle="modal" data-url="{% url 'census_statistics' client.slug engagement.slug %}" role="menuitem" tabindex="-1" href="#">Census Statistics</a></li>
                <li role="presentation"><a class="dropdown-item show-view_errors" data-toggle="modal" data-url="{% url 'view_errors' client.slug engagement.slug %}" role="menuitem" tabindex="-1" href="#">View Errors</a></li>                         
            </ul>
        </div>                
        <div class="btn-group dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Selections
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a class="dropdown-item show-selections_form" href="#" data-url="{% url 'make_selections' client.slug engagement.slug %}" role="menuitem" tabindex="-1" href="#">Make Selections</a></li>
                <li role="presentation"><a class="dropdown-item view-selections_form" data-toggle="modal" data-url="{% url 'view_selections' client.slug engagement.slug %}" role="menuitem" tabindex="-1" href="#">View Selections</a></li>
                <li role="presentation"><a class="dropdown-item show-py_selections" data-toggle="modal" data-url="{% url 'py_selections' client.slug engagement.slug %}" role="menuitem" tabindex="-1" href="#">View Previous Year Selections</a></li>
            </ul>
        </div> 
    </div>
    <div class="row">
                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="census_table">
                    <thead id="header">
                        {% include 'census_header.html' %}
                    </thead>
                    <tbody>
                        {% include 'census_list.html' %}
                    </tbody>
                </table>   
            </div>            


<div class="modal fade" id="modal-eligibility_rules">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-key_employee">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="modal-census_statistics">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-selections">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-view_selections">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>
<div class="modal fade" id="modal-py_selections">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="upload_census">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="modal-view_errors">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade" id="" tabindex="-1"
     role="dialog" aria-labelledBy="fm-modal-grid"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Census Data</h5>
                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{census_form|crispy}}
                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fm-modal-grid" tabindex="-1"
     role="dialog" aria-labelledBy="fm-modal-grid"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eligibility Rules</h5>
                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% include 'eligibility_rules.html' %}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="ajaxProgress">
    <h3>Loading</h3>
    <img src="{% static 'main/images/ajax-loader.gif' %}" alt="loading"/>
</div>





{% endblock content %}



