{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="jumbotron">
        <h1>EBP Analytics</h1>
        <p class="lead">Audit Analytics is a tool that allows users to gain greater insights through generating meaningful analytics.</p>
        <p><a class="btn btn-primary btn-large" href="{% url 'about' %}">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Audit Analytics gives you the power to generate custom financial analytics for your clients in a way
                that will lead to greater insight and an overall better audit. All you have to do is create a free account.
            </p>
            <p><a class="btn btn-default" href="{% url 'signup' %}">Sign up for a free account &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Compare across Industry</h2>
            <p>Audit Analytics allows you to compare key financial analytics to other clients that you have
            in the same industry. This unique tool provides greater insight to your clients financal performance
            and health compared to its competitors.</p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Analytic Reports</h2>
            <p>You can easily publish any of your analytics in a professional style report to Excel or PDF that can be presented to
            client or put in the engagement binder.</p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
    </div>
</div>


{% endblock %}
