{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="body-content">
    <div class="jumbotron">
        <h1>Census Analytics</h1>
        <p class="lead">Census Analytics is a tool that allows users to gain greater insights to their clients census data.</p>
        <p><a class="btn btn-primary btn-large" href="{% url 'about' %}">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Census Analytics gives you the power to intelligently automate the selections process.
            </p>
            <p><a class="btn btn-default" href="{% url 'signup' %}">Sign up for a free account &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Improve Audit Quality</h2>
            <p>Census Analytics allows users to automatically detect errors in census data, analyze key census metrics
                and automate the selection process based off of firm methodology.
            </p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Reports</h2>
            <p>You can easily publish any of your reports in a professional style report to Excel or PDF that can be presented to
            client or put in the engagement binder.</p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
    </div>
</div>


{% endblock %}
